{% extends "base.html" %}
{% load humanize %}
{% load customfilter %} 
{% block pageContent %}
<!--Section: Content-->
<section class="">
    {% if user.id and user.is_staff%}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Trip Locations</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ location|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Buses</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ buses|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Trip Schedules</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ schedule|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
        {% elif user.id%} 
        <p class="text-center fw-bold">"Unlock Memorable Journeys with Our Bus Rentals"</p>
        <center>
            <img src="{{ MEDIA_URL }}/default/gif.gif" alt="" id="logo-img" style="height: 400px; width: 400px;">
        </center>
       
    {% else %}
    <style>
        body {
            background-image: url("media/default/bg.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <style>
        #logo-img{
            height: 11em;
            width: 26em;
        }
    </style>
    <div class>
            <center>
                <img src="{{ MEDIA_URL }}/default/logo.png" alt="" id="logo-img">
            </center>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <p class="text-center fw-bold">Bus Reservation</p>
                <p class="text-center fw-bold">"Discover the Joy of Hassle-Free Travel"</p>
            </div>
        </div>
    </div>
    {% endif %}
</section>
</div> {% endblock pageContent %}
